// Mixins

// Position sticky to the wrapper
@mixin cover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Content wrapper
@mixin content-wrapper {
  width: 100%;
  padding: $spacer-0 $spacer-3;
  margin-left: auto;
  margin-right: auto;

  @include tablet-desktop {
    padding: 0 32px 24px 32px;
    width: calc(100% - 80px);
    margin-left: 79px;
    border-left: 1px solid #cedde1;
  }
}

// Hidden
@mixin visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: $spacer-0;
  border: 0;
}
