// Color system

// Primary Colors
$color-heading: #6b949b;
$color-green: #285b65;
$color-green-2: #d4eff1;
$color-green-stroke: #9ad8dd;
$color-text: #6a6a6a;
$color-bg: #f6fafb;
$color-brown: #d8c7a2;
$color-orange: #e59e33;
$color-grey: #eaeaea;
$color-red: #cb334d;
$color-white: #ffffff;
$color-black: #000000;
$color-border: #e1e1e1;

//
$default-background-color: $color-bg;
