// Typography

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-46: $font-size-base * 46/16 !default;
$font-size-24: $font-size-base * 24/16 !default;
$font-size-18: $font-size-base * 18/16 !default;
$font-size-14: $font-size-base * 14/16 !default;
$font-size-12: $font-size-base * 12/16 !default;
$font-size-10: $font-size-base * 10/16 !default;

// Line-height
$line-height-lg: 1.4 !default; // Larger line height for smaller text elements, below font size 18px
$line-height-sm: 1.25 !default; // Smaller line height for larger text elements, above 19px

// Letter-spacing
$letter-spacing-lg: 0.04em; // Larger letter spacing for smaller text elements, below font size 18px

// defaults
$default-font-family: 'Montserrat', sans-serif;
$default-font-size: $font-size-base;
$default-line-height: $line-height-lg;
$default-font-weight: normal;
$default-font-color: $color-text;
